.header{
    display: block;
    margin: 10px auto;
}

.pool-select{
    font-size: 10px;
}

.chart{
    font-size: 10px;
    margin: 10px auto;
}

.Dropdown{
    font-size: 10px;
    margin: 20px auto;
    max-width: 150px;
}

.chart-comp{
    display: block;
    padding-top: 100px;
    margin: 50px auto;
}

.graph{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.displayResults{
    background-color: rgba(255, 255, 255, 0.699);
    display: inline;
    font-size: medium !important;
    font-weight: 600 !important;
    border: 2px groove rgb(194, 188, 188);
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10px;
    color: rgb(53, 243, 180);
}

.resultbox{
margin: 0 auto;
width: auto;
}